.restaurant-page {
	.bg-st {
		max-width:50%;
		height:100%;
	}

	.bg {
		bottom: 15;
		position: absolute;
		z-index: 1;
		background-size: contain;
		width:100%;
		height:300px;
		background: url('http://128.189.94.126:8080/assets/img/nwhacks-food-line-header.jpeg');
	}
	
	section {
			white-space: nowrap;
	}
	
	h1 {
		font-size: 2.5rem;
		margin: 0px 10px 20px 0px;
		text-align: left;
	}
	
	h2 {
		margin: -8px 20px -5px 0px;
		text-align: center;
	}
	
	h5 {
		margin: 0px 20px 0px 0px;
		text-align: center;
	}
	
	h6 {
		text-align: center;
	}
	
	p {
		margin: 0px 30px -2px 20px;
	}
	
	
	.info {
		margin: 50px 0px 0px 0px;
		width: 100%;
			
		.btn {
			border: none;
			background-color: #EB5757;
			padding: 20px 40px;
			font-size: 1.5rem;
			color: white;
			cursor: pointer;
			display: inline-block;
		}	
	}
	
	.btn:hover {
		background-color: #bd4a4a;
		color: white;
	}
}